body {
overflow-x: hidden;
}
@media (min-width: 1400px) {

  #containerHeader {
    background-image: url(assets/img/head_img.jpg);
    background-size: cover;
    background-position: 40%;
    height: 70vh;
  }
}

@media (max-width: 1200px) {

  #containerHeader {
    background-image: url(assets/img/head_img.jpg);
    background-size: cover;
    background-position: 45%;
    height: 70vh;
  }
}

@media (max-width: 768px) {

  #containerHeader {
    background-image: url(assets/img/head_img.jpg);
    background-size: cover;
    background-position: 54%;
    height: 70vh;
  }
}

@media (max-width: 480px) {

  #containerHeader {
    background-image: url(assets/img/head_img.jpg);
    background-size: cover;
    background-position: 53%;
    height: 40vh;
  }
}

#containerHeader {
  background-image: url(assets/img/head_img.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 70vh;
}

  #restaurant_img {
    width: 100%;
  }
